.sconf_temp/
.sconsign.dblite
/build
/dist
/crap
/pkg
/mnt
/demo
/bbctrl-*
/src/py/bbctrl/tpl_lib
node_modules
*~
\#*
*.pyc
__pycache__
*.egg-info
/upload
/*.img
*.so
*.deb
*.zip
/package-lock.json
/share
*.elf
*.hex
Makefile.al
.snapshots/*
._.*
.DS_Store

src/bbserial/.bbserial.o.d
src/bbserial/._Makefile
