.sconf_temp
.sconsign.dblite
/build
/dist
/crap
/mnt
/demo
/bbctrl-*
node_modules
*~
\#*
*.pyc
__pycache__
*.egg-info
/*.img
/*.xz
*.so
*.deb
*.zip
/package-lock.json
*.elf
*.hex
/scratch.txt

/bin
/rootfs
/share
*.log
*.log.*
venv/
CAMotics/
cbang/
# Ignore image directory with build artifacts
image/
Upload/Projects
log.txt
Upload/Macros/Test1.ngc
src/before_mdi_click.png
Tools/*.png
Tools/endpoint_scan_results.txt
