recursive-include src/py/bbctrl/http *
include package.json README.md scripts/install.sh
include src/avr/bbctrl-avr-firmware.hex
include src/pwr/bbctrl-pwr-firmware.hex
include scripts/buildbotics.gc
include bin/camotics.so
include bin/bbkbd
include bin/updiprog
include bin/rpipdi
exclude .gitignore
